.location {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #abb696;
  padding: 8px 0 0 0;
  margin-right: 15px;
  /* border: 1px solid red; */
}

.location:last-child {
  border-bottom: none;
}

.toners-list {
  list-style: none;
  padding: 0;
}

.location-info {
  max-width: 400px;
  width: 100%;
}

.toners {
  min-height: 97px;
  max-height: 140px; 
  width: 100%;
  box-sizing: content-box;
}

.toners-many {
  overflow-y: scroll;
}

.toners-title {
  position: absolute;
  top: -20px;
  left: 335px;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.toner-info {
  padding-bottom: 8px;
  border-bottom: 1px solid #abb696;
  width: 90%;
}