.quantity-wrapper {
  display: flex;
  /* border: 1px solid red; */
  /* border-bottom: 1px solid #abb696; */
  /* align-items: center; */
}

.toner-quantity {
  margin: 0 20px 8px 0;
}

.infoitem {
  margin: 8px 0;
}