.quantity-wrapper {
  display: flex;
  /* border: 1px solid red; */
  /* border-bottom: 1px solid #abb696; */
  /* align-items: center; */
}

.infoitem {
  margin: 8px 0 0 0;
}

.toner-low {
  color: red;
}