.button {
cursor: pointer;
border: none;
padding: 0;
border-radius: 3px;
font-size: 15px;
}

.button:hover {
opacity: 0.6;
transition: all 0.8s ease;
}

.button:focus {
outline: 0;
box-shadow: none;
}

.button_type_sign {
  background-color: #625368;
  line-height: 1.21;
  font-weight: 500;
  color: #fff;
  height: 45px;
  margin: 69px 0 16px;
}

.button_type_sign_disabled {
  background-color: #dbdbdb;
  pointer-events: none;
}

.button_type_edit {
  line-height: 1.21;
  font-weight: 400;
  background-color: #625368;
  height: 45px;
  color: #fff;
  margin: 29px 0 16px;
  margin: 69px 0 16px;
}

.button_type_edit_disabled {
  color: #EBEBEB;
  pointer-events: none;
}

.button_type_account {
  line-height: 1.4;
  font-weight: 500;
  background: none;
  color: #666666;
  margin: 0 15px 0 5px;
}

.button_type_exit {
  line-height: 1.4;
  font-weight: 500;
  background: none;
  margin: 0 0 0 5px;
  color: #fff;
}

.button_type_change {
  background-color: #c5c9bc;
  padding: 0 8px;
  margin: 0 0 0 20px;
  font-size: 13px;
}

.button_type_close {
  background: url(../images/close-icon.svg) center no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 22px;
  right: 22px;
  padding: 0;
  margin: 0;
  z-index: 15;
}

.button_type_confirm {
  background-color: #625368;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 500;
  color: #fff;
  height: 45px;
  margin: 10px 0 0 0;
}

.button_type_search_disabled {
  background-color: #EBEBEB;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {

  .button {
    font-size: 13px;
  }

}