.link:hover {
  opacity: 0.6;
  transition: all 0.7s ease;
  color: #625368;
}

.link_active {
  text-decoration: underline;
  color: #666666;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
}

.link {
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
}

.link:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 1023px) {

  .link_active {
    font-size: 13px;
  }
  
  .link {
    font-size: 13px;
  }

}