.promo {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  position: relative;
  background: url("../../images/cartridge.jpg") no-repeat;
  background-size: cover;
  padding: 20px;
}

.promo__image {
  height: 100%;
  /* width: 320px; */
  /* height: 320px; */
  /* position: absolute; */
}

.promo__title {
  font-size: 50px;
  line-height: 1.16;
  max-width: 650px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
}

.promo__subtitle {
  font-size: 18px;
  line-height: 1.8;
  max-width: 450px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
  margin: 20px 0 0 0;
}

.promo__span {
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  font-size: 18px;
}

.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  gap: 10px;
  margin: 0 0 10px 0;
  padding: 0;
  grid-auto-rows: 60px;
  justify-content: center;
}

.techs__item {
  border-radius: 10px;
  background-color: #c0b4c5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.techs__info {
  margin: 0 auto;
}

.techs__title {
  margin: 50px 0 26px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  font-size: 16px;
  line-height: 1.43;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0 0 100px;
  max-width: 460px;
  text-align: center;
}

.main-schools {
  padding: 100px 70px;
  margin: 0 auto;
}

.schools__list {
  max-width: 960px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-auto-rows: 309px;
  grid-gap: 16px;
  list-style: none;
  padding: 0;
  margin: 50px auto;
}

.school__item {
  background-color: #625368;
  padding: 40px;
}

.green {
  background-color: #ABB696;
}

.school__photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1023px) {
  
  .techs {
    padding: 90px 50px;
  }

  .main-schools {
    padding: 90px 50px;
  }

  .techs__title {
    margin: 80px 0 22px;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 83px;
  }

  .techs__item {
    font-size: 12px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
    grid-auto-rows: 57px;
  }
}

@media screen and (max-width: 767px) {

  .techs {
    padding: 70px 18px;
  }

  .main-schools {
    padding: 70px 18px;
  }

  .techs__title {
    margin: 60px 0 24px;
    font-size: 30px;
    line-height: 1.21;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 1.45;
    margin: 0 0 50px;
  }

  .promo__image {
    width: 248px;
    height: 248px;
    position: absolute;
  }

  .promo__title {
    font-size: 31px;
    line-height: 1.16;
    width: calc(100% - 14px*2);
  }

  .techs__list {
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .techs__item {
    width: 84px;
    height: 57px;
  }

}

@media screen and (max-width: 425px) {

  .techs {
    padding: 18px 18px;
  }

  .main-schools {
    padding: 18px 18px;
  }

}