.header-profile {
  display: flex;
}

.profile-item {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.profile-item-exit {
  background-color: #625368;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {

  .profile-item {
    margin-right: 0;
  }

  .profile-item-exit {
    padding: 8px 10px;
  }

}

@media screen and (max-width: 767px) {

  .header-profile {
    flex-direction: column;
    width: 50%;
    margin: 50% auto 0;
    align-items: center;
  }

  .profile-item-exit {
    margin-top: 20px
  }

}