.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.nav-item {
  margin: 0 15px 0 5px;
}

.navigation {
  display: flex;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}

.header__link_type_signin {
  background-color: #625368;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  margin: 0 0 0 20px;
}