.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 15px;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
}

.link:hover {
  opacity: 0.6;
  transition: all 0.7s ease;
}

.link:focus {
  outline: 0;
  box-shadow: none;
}

.header__link_type_signin {
  background-color: #625368;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  margin: 0 0 0 20px;
}