.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px 0 5px;
}

.nav-item-sign {
  margin: 0;
}

.navigation {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}

.header__link_type_signin {
  background-color: #625368;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 1023px) {

  .item-wrapper {
    margin-right: 8px;
  }

}

@media screen and (max-width: 767px) {

  .nav-mobile {
    height: 100vh;
    max-width: 520px;
    width: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    position: fixed;
    padding: 159px 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
  }

}