@import url('./styles/button.css');
@import url('./styles/section.css');
@import url('./styles/link.css');
@import url('./styles/form-input.css');
@import url('./fonts/fonts.css');

#root {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #FAFAFA;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

span {
  font-weight: 600;
}